@import "../../styles/settings";
@import "../../styles/mixins";

.header {
  @include centered;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;

  &__summary {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    @include mobile {
      height: 24px;
      font-size: 1.75rem;
      ion-icon {
        font-size: 24px;
      }
    }
  }

  &__price {
    color: $color-blue;
    margin-left: 10px;
  }

  &__logo {
    height: 38px;
  }

  &__title {
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    margin-left: 20px;
    color: $color-blue;
    @include mobile {
      font-size: 2rem;
      padding: 0 1rem;
      line-height: 24px;
      margin-left: 0;
    }
  }
}

ion-icon {
  color: lighten($color-pink, 10%);
  --ionicon-stroke-width: 16px;
  font-size: 48px;
}
