@import '../../styles/settings';
@import '../../styles/mixins';


.product {
    display: grid;
    width: 100%;
    grid-template-areas: 
    "title        title         image"
    "description  description  image"
    "button       button       image"
    ".            .            image";
    grid-template-columns: 1fr 1fr 3fr;
    margin-bottom: 12vh;
    grid-column-gap: 5.5vw;
  
    &:nth-of-type(odd) {
      grid-template-areas: 
      "image title        title"
      "image description  description"
      "image button       button"
      "image .            .";
      grid-template-columns: 3fr 1fr 1fr;
  
      @include mobile {
        grid-template-areas: 
        "image        image      "
        "title         title     "
        "description  description"
        "button       button     ";
        grid-template-columns: 1fr 1fr;
    
        img {
          height: 300px;
          width: 100%;
          margin-bottom: 30px;
        }
      }
    }
  
    &__title {  
      margin: 0;
      grid-area: title;
      font-size: 3.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: $color-blue;
    }
  
    &__description { 
      grid-area: description;
      line-height: 1.5;
      text-align: left;
      min-height: 175px;
      @include mobile {
        min-height: 0px;
      }
    }
  
    &__price { 
      grid-area: price;
      font-size: 2.65rem;
      font-weight: bold;
      line-height: 50px;
      color: $color-pink;
    }
  
    &__image { 
      grid-area: image;
      width: 100%;
      height: 100%;
      transform: scaleY(1.1);
      object-fit: cover;
      border-radius: 4px;
      box-shadow: 0px 18.025px 43.775px rgba(0, 0, 0, 0.25);
    }
  
    &__price-button-container {
      display: flex;
      grid-area: button;
      justify-content: space-between;
    }
  
    &__button {
      margin: 0 1rem;
      font-size: 1.75rem;
      line-height: 1.75;
      font-weight: bold;
      border-radius: 4px;
      padding: 10px 20px;
      cursor: pointer;
      border: darken($color-pink, 5%);
      box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
      background-color: $color-pink;
      border: 1px solid darken($color-pink, 5%);
      transition: 0.35s all 50ms;
      color: white;
      position: relative;
  
      &:hover {
        background-color: $color-purple;
        border: 1px solid darken($color-purple, 5%);
        &:before {
          transform: scale(1.15, 1.4);
        }
      }
  
      &:before {
        content: ' ';
        position: absolute;
        background-color: lighten($color-pink, 15%);
        border: 1px solid lighten($color-pink, 5%);
        top: 0;
        left: 0;
        border-radius: 4px;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        z-index: -1;
        transform: scale(1);
        transition: all 0.3s cubic-bezier(0.16, 0.8, 0.66, 1.54);
      }
    }
  
    @include mobile {
      grid-template-areas: 
      "image        image      "
      "title         title     "
      "description  description"
      "button       button     ";
      grid-template-columns: 1fr 1fr;
  
      img {
        height: 300px;
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }