@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");

// colors

// main colors
$color-orange: #ffbe0b;
$color-darkorange: #fb5607;
$color-pink: #ff006e;
$color-purple: #8338e3;
$color-blue: #3a86ff;

// secondary colors
$color-light-grey: #ebebeb;
$color-dark: #424242;
$max-width: 1000px;

@media screen and (min-width: 1280px) {
    $max-width: 1100px;
}
